model/src/main/resources/contract/Spatial_RQ_RS.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Designer Edition (Trial) 13.2.1.5996 (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://europa.eu/ec/fisheries/uvms/spatial/model/schemas" id="FISH2015_SPATIAL2015" targetNamespace="http://europa.eu/ec/fisheries/uvms/spatial/model/schemas" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Spatial_CommonTypes.xsd" />
    <xs:element name="AreaTypeNamesSpatialRS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResponseMessage" type="ResponseMessageType" />
                <xs:element name="AreaTypes" type="AreasNameType" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EezSpatialRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EezId" type="NumericStringLength1to9" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EezSpatialRS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResponseMessage" type="ResponseMessageType" />
                <xs:element name="Eez" type="EezType" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AreaByLocationSpatialRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Point" type="PointType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AreaByLocationSpatialRS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResponseMessage" type="ResponseMessageType" />
                <xs:element name="AreasByLocation" type="AreasByLocationType" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ClosestAreaSpatialRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Point" type="PointType" />
                <xs:element name="AreaTypes">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="10">
                            <xs:element name="AreaType" type="AreaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Unit" type="UnitType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ClosestAreaSpatialRS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResponseMessage" type="ResponseMessageType" />
                <xs:element name="ClosestAreas" type="ClosestAreasType" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ClosestLocationSpatialRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Point" type="PointType" />
                <xs:element name="LocationTypes">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="10">
                            <xs:element name="LocationType" type="LocationType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Unit" type="UnitType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ClosestLocationSpatialRS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResponseMessage" type="ResponseMessageType" />
                <xs:element name="ClosestLocations" type="ClosestLocationsType" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SpatialEnrichmentRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Point" type="PointType" />
                <xs:element name="AreaTypes">
                    <xs:complexType>
                        <xs:sequence maxOccurs="10">
                            <xs:element name="AreaType" type="AreaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LocationTypes">
                    <xs:complexType>
                        <xs:sequence maxOccurs="10">
                            <xs:element name="LocationType" type="LocationType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Unit" type="UnitType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SpatialEnrichmentRS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResponseMessage" type="ResponseMessageType" />
                <xs:element name="AreasByLocation" type="PointType" />
                <xs:element name="ClosestAreas" type="ClosestAreasType" />
                <xs:element name="ClosestLocations" type="ClosestLocationsType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AreaDetailsSpatialRequest">
        <xs:annotation>
            <xs:documentation>Root element for area details request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaType" type="AreaTypeEntry" nillable="false" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AreaDetailsSpatialResponse">
        <xs:annotation>
            <xs:documentation>Root element for area details response</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResponseMessage" type="ResponseMessageType" nillable="false" />
                <xs:element name="areaDetails" type="AreaDetails" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
