model/src/main/resources/contract/Spatial_SimpleTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns="http://europa.eu/ec/fisheries/uvms/spatial/model/schemas" id="FISH2015_SPATIAL2015" targetNamespace="http://europa.eu/ec/fisheries/uvms/spatial/model/schemas" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="AlphaNumericStringLength1to4">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 4</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z]{1,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AlphaNumericStringLength1to8">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 8</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z]{1,8}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AlphaNumericStringLength1to19">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 19</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z]{1,19}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AlphaNumericStringLength1to20">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 20</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z*]{1,20}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AlphaNumericStringLength1to32">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 32</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z*]{1,32}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MMYYYYDate">
        <xs:annotation>
            <xs:documentation xml:lang="en">Month and year information.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|1[0-2])[0-9][0-9][0-9][0-9]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric1to250">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric values, from 1 to 250 inclusive</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="250" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric0to365">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric values, from 0 to 365 inclusive.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="365" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric1to999">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to16">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 16.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,16}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to6">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to20">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 20.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,20}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to100">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 100.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,100}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to3">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, minimum length 1, maximum length 3.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to2">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, minimum length 1, maximum length 2.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to4">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, minimum length 1, maximum length 4.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to5">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 5</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to18">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 18.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,18}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SignedNumericStringLength1to18">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 18.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[+|\-]?[0-9]{1,18}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to9">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 9.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to10">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 10.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,10}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumericStringLength1to15">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 15.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength0to32">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 0 to 32</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="32" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to20">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 20</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to25">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 25</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="25" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to256">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 256</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="256" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to120">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 120</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="120" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to64">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to250">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 250</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="250" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to30">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 30</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="30" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to40">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 40</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="40" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to62">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 62</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="62" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to3">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 3</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="3" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to16">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="16" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to10">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 10</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to2">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 2</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to4">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 4</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="4" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength2to5">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 2 to 5</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="2" />
            <xs:maxLength value="5" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to5">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 5</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="5" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to6">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 6</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="6" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to18">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 18</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="18" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to48">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 48</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="48" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to100">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 100</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to255">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 255</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="255" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to500">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 500</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="500" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to1000">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 1000</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="1000" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to4000">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 4000</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="4000" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to200">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 200</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="200" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to400">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 400</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="400" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to32">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="32" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to38">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 38</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="38" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to60">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 60</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="60" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength0to100">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 0 to 100</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="100" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to50">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 50</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength2">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Strings, length exactly 2</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="2" />
            <xs:maxLength value="2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength3">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3" />
            <xs:maxLength value="3" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength10">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Strings, length exactly 10</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="10" />
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to8">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="8" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength1to15">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 15</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="15" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength9to18">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 9 to 18</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="9" />
            <xs:maxLength value="18" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLength4">
        <xs:annotation>
            <xs:documentation>Used for character strings length 4</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="4" />
            <xs:maxLength value="4" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoType">
        <xs:annotation>
            <xs:documentation>Y-Yes, N-No</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AreaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EEZ" />
            <xs:enumeration value="FAO" />
            <xs:enumeration value="GFCM" />
            <xs:enumeration value="COUNTRY" />
            <xs:enumeration value="RFMO" />
            <xs:enumeration value="RAC" />
            <xs:enumeration value="STatRect" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LocationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PORT" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnitType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="METERS" />
            <xs:enumeration value="KILOMETERS" />
            <xs:enumeration value="MILES" />
            <xs:enumeration value="NAUTICAL_MILES" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ScaleBarType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="METRIC" />
            <xs:enumeration value="DEGREES" />
            <xs:enumeration value="NAUTICAL" />
            <xs:enumeration value="IMPERIAL" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DisplayFormatType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DD" />
            <xs:enumeration value="DMS" />
            <xs:enumeration value="DDM" />
            <xs:enumeration value="M" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
